body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
    background-size: cover;
    background-position: center;
}

#content1{
    background: rgba(91, 3, 91, 0.9);
    color: #ffffff;
    max-width: 650px;
    margin: 100px auto;
    padding: 40px;
    border: white;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.167);
}